*{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.topbackground {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 95px;
    position: absolute;
}

.logocontainer {
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    max-height: 60px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    z-index: 5;
}

.logo1 {
    height: 1.5em;
    min-width: 72px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logo2 {
    height: 1.5em;
    min-width: 72px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navigation, .navigation2 {
    margin-left: 40px;
    padding: 10px 10px;
    width: 120px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.navigation2:hover{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 0%;
    transition: 0.5s;
}

.navigation {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 0%;
}

.navigation:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

.topcontainer {
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.codesnippets {
    margin-bottom: 50px;
    padding-top: 275px;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: black;
    text-align: center;
    font-weight: normal;
}

footer {
    margin-top: 350px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
}

.resumefooter {
    margin-top: 100px;
}

.backtomaincontainer {
    display: flex;
    justify-content: space-around;
}

.backtomain {
    margin: 25px;
    padding: 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;

}

.backtomain:hover {
    margin: 25px;
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    z-index: 1;
    transition: 0.5s;
    text-align: center;
    display: block;
}

.spaceholder {
    padding-top: 150px;
}

.resume {
    position: relative;
    margin: auto;
    padding-top: 50px;
    width: 90%;
    min-width: 725px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.33);
    font-family: 'Calibri','Open Sans', sans-serif;
    font-size: 18px;
}

.resume .headerbox {
    position: relative;
    margin: auto;
    width: 80%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.33);
}

.resume .headerbox .left {
    margin: 25px 0px 25px 25px;
    width: 35%;
}

.resume .headerbox .right {
    margin: 25px;
    width: 65%;
}

.resume .headerbox .left .imageholder {
    margin: auto;
    max-width: 80%;
    height: 80%;
    left: -25px;
    background-image: url(me.png);
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.resume .headerbox .left .download {
    margin: auto;
    margin-top: 15px;
    margin-left: 10%;
    min-width: 80%;
    height: 50px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.9);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    color: white;
}

.resume .headerbox .right .header{
    text-transform: uppercase;
    font-size: 36px;
}


.resume .headerbox .right .headertext{
    line-height: 1.5em;
    text-align: justify;
}

.resume .headerbox .right .agecontainer {
    margin-top: 50px;
    min-width: 480px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    .resume .headerbox .right .agecontainer {
        min-width: 200px;
    }

}

.resume .headerbox .right .agecontainer .leftbox {
    min-width: 45%;
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}

.resume .headerbox .right .agecontainer .leftbox .firstbox {
    width: 30%;
    min-width: 50px;
    font-weight: bold;
}

.resume .headerbox .right .agecontainer .leftbox .secondbox {
    width: 70%;
    min-width: 180px;
}

@media screen and (max-width: 1300px) {
    .resume .headerbox .right .agecontainer .leftbox .secondbox {
        width: auto;
        min-width: 0px;
    }

    .resume .headerbox .right .agecontainer .leftbox .secondbox p {
        word-wrap: break-word;
    }
}

.resume .headerbox .right .agecontainer .rightbox {
    min-width: 45%;
    color: black;
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}

.resume .headerbox .right .agecontainer .rightbox .firstbox {
    width: 30%;
    min-width: 50px;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .resume .headerbox .right .agecontainer .rightbox .firstbox {
        min-width: 65px;
    }
}

.resume .headerbox .right .agecontainer .rightbox .secondbox {
    width: 70%;
    min-width: 180px;
}

@media screen and (max-width: 1300px) {
    .resume .headerbox .right .agecontainer .rightbox .secondbox {
        width: auto;
        min-width: 0px;
    }

    .resume .headerbox .right .agecontainer .rightbox .secondbox p {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 900px) {
    .websiteHolder {
        position: relative;
        top: 36px;
    }
}

@media screen and (max-width: 645px) {
    .websiteHolder {
        position: relative;
        top: 72px;
    }
}

@media screen and (max-width: 556px) {
    .websiteHolder {
        position: relative;
        top: 108px;
    }
}

.resume .sectionheader {
    padding: 50px 0px;
    text-transform: uppercase;
    color: white;
    font-size: 46px;
    font-weight: bold;
    font-family: 'Calibri','Open Sans', sans-serif;
    text-align: center;
    text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,0.1),
    0 0 5px rgba(0,0,0,0.1),
    0 1px 3px rgba(0,0,0,0.3),
    0 3px 5px rgba(0,0,0,0.2),
    0 5px 10px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.2),
    0 20px 20px rgba(0,0,0,0.15);
}

.resume .midbox {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.resume .midbox .leftbox {
    padding: 20px;
    min-width: 33%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.33);
}

.resume .midbox .leftbox .labelholder {
    margin-left: 4.5%;
    width: 24%;
    min-width: 190px;
    height: 50px;
    line-height: 50px;
    top: -30px;
    background-color: rgba(25, 25, 25, 1);
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.resume .midbox .rightbox  {
    padding: 20px;
    min-width: 53%;
    height: 280px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.33);
}

@media screen and (max-width: 920px) {
    .resume .midbox .rightbox, .resume .midbox .leftbox {
        height: 316px;
    }
}

@media screen and (max-width: 860px) {
    .resume .midbox .rightbox, .resume .midbox .leftbox {
        height: 352px;
    }
}

.resume .midbox .rightbox .labelholder {
    margin-left: 16%;
    width: 23%;
    min-width: 190px;
    height: 50px;
    line-height: 50px;
    top: -30px;
    background-color: rgba(25, 25, 25, 1);
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.resume .midbox .leftbox .skillcontainer {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.resume .midbox .leftbox .skillcontainer .labelbox {
    margin: auto;
    margin: 0 0 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resume .midbox .leftbox .skillcontainer .barbox {
    margin: auto;
    margin: 0px;
    min-width: 90%;
    display: flex;
    justify-content: space-between;
}

.resume .midbox .leftbox .skillcontainer .barbox .barleft {
    width: 85%;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:
    inset 0 0 10px #000000,
    0 0 3px #000000;
    border-radius: 5px 0 0 5px;
}

.resume .midbox .leftbox .skillcontainer .barbox .barright {
    width: 15%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 3px #000000;
    border-radius: 0 5px 5px 0;
}

.resume .midbox .leftbox .skillcontainer .barbox .barleft.second {
    width: 75%;
}

.resume .midbox .leftbox .skillcontainer .barbox .barright.second {
    width: 25%;
}

.resume .midbox .leftbox .skillcontainer .barbox .barleft.third {
    width: 30%;
}

.resume .midbox .leftbox .skillcontainer .barbox .barright.third {
    width: 70%;
}

.resume .midbox .leftbox .skillcontainer .barbox .barleft.fourth {
    width: 50%;
}

.resume .midbox .leftbox .skillcontainer .barbox .barright.fourth {
    width: 50%;
}

.resume .midbox .rightbox .circlerow {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.resume .midbox .rightbox .circlerow .circlecontainer {
    display: flex;
    flex-direction: column;
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    box-shadow:
    inset 0 0 3px white;
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle .innercircle .percentage{
    position: absolute;
    top: 32px;
    left: 27px;
    font-weight: bold;
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle .innercircle {
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    box-shadow:
    0 0 3px white;
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle .innersquare {
    position: relative;
    top: -20px;
    left: -20px;
    width: 60px;
    height: 25px;
    background-color: white;
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle .innersquare.first.rotated {
    position: absolute;
    top: -5px;
    width: 20px;
    height: 20px;
    left: 5px;
    transform: rotate(40deg)
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle .innersquare.second {
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle .innersquare.third {
    top: -10px;
    left: 20px;
    width: 20px;
    height: 15px;
}

.resume .midbox .rightbox .circlerow .circlecontainer .circle .innersquare.third.rotated {
    position: absolute;
    top: -15px;
    width: 40px;
    left: 0px;
    transform: rotate(55deg)
}


.resume .midbox .rightbox .circlerow .circlecontainer .circletext {
    text-align: center;
}

.resume .midbox .rightbox .secondaryskills {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.resume .midbox .rightbox .secondaryskills .leftside {
    min-width: 30%;
    display: flex;
    justify-content: flex-start;
}

.resume .midbox .rightbox .secondaryskills .icons {
    line-height: 2em;
}

 .resume .midbox .rightbox .secondaryskills .icons .imageholder {
     margin-top: 14px;
     min-width: 20px;
     min-height: 20px;
     background-image: url(pipe.png);
     background-position: top;
     background-repeat: no-repeat;
     background-size: cover;
     line-height: 2em;
     position: relative;
     top: -5px;
 }

.resume .midbox .rightbox .secondaryskills .texts {
    padding-left: 10px;
    line-height: 2em;
}

.resume .bottombox {
    margin: auto;
    margin-top: 25px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.resume .bottombox .educationbox {
    margin-bottom: 50px;
    padding: 0px 20px 20px 20px;
    width: 33%;
    background-color: white;
    text-align: justify;
    line-height: 1.4em;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.33);
}

.resume .bottombox .educationbox .labelholder {
    margin: auto;
    padding: 0px 10%;
    width: 33%;
    min-width: 100px;
    height: 50px;
    line-height: 50px;
    top: -30px;
    background-color: rgba(25, 25, 25, 1);
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.stickyFooterBox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


*{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menucontainer {
    display: flex;
    justify-content: space-between;
}

.logo1 {
    height: 1.5em;
    min-width: 72px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logo2 {
    height: 1.5em;
    min-width: 72px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: space-between;
}

.topcontainer {
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 41px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.navigation, .navigation2 {
    margin-left: 35px;
    padding: 10px 10px;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.navigation2:hover{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 0%;
    transition: 0.5s;
}

.navigation {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 0%;
}

.navigation:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

@media screen and (max-width: 1050px) {
    .navigation, .navigation2 {
        margin-left: 0px;
    }
}

@media screen and (max-width: 890px) {
    .topcontainer {
        margin-left: 10px;
    }

    .logocontainer {
        margin-left: 10px;
    }
}

@media screen and (max-width: 700px) {
    .topcontainer {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .head2{
        font-size: 24px;
    }
}

.buttoncontainer {
    margin-top: 50px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

.button1 {
    min-width: 150px;
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.button2 {
    margin-left
    min-width: 95px;
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

@media screen and (max-width: 1200px) {
    .button2{
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    .button1, .button2{
        padding: 20px 5px;
    }
}

.button1:hover, .button2:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.quotation {
    margin: auto;
    padding: 65px 0px;
    width: 100%;
    background-color: #eeeeee;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 1.1;
    color: rgba(26,26,26,.9);
}

.contactbackground {
    background-image: url("contactimage.jpg");
    width: 100%;
    height: 615px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactheader {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}

.contactcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    text-align: center;
}

.standardinput {
    margin: auto;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #666666;
    width: 40%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0.5);
}

textarea {
   resize: none;
}

.submit {
    margin: auto;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: black;
    width: 41%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0.5);
}

.submit:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

footer {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
}

.stickyFooterBox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.whiteBoard {
    min-width: 100%;
    min-height: calc(100vh - 1335px);
    background-color: white;
}

.hambrugerMenu {
    padding: 4px 0px;
    height: 18px;
    width: 25px;
    display: none;
}

@media screen and (max-width: 700px) {
    .hambrugerMenu {
        margin-top: 25px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        z-index: 200;
    }
}

.menuIcon {
    width: 21px;
    height: 2px;
    background-color: white;
}

.menuIconContainer{
    max-width: 25px;
    width: 21px;
    height: 2px;
    position: relative;
    overflow: hidden;
}

input[type=checkbox]:checked ~ label > .menuIconContainer > .menuIcon.second {
    transform: translateX(25px);
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox]:checked ~ label >  .menuIcon {
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox]:checked ~ label >  .menuIcon.first {
    transform: rotate(-45deg);
}

input[type=checkbox]:checked ~ label >  .menuIcon.third {
    transform: rotate(45deg);
}

input[type=checkbox] ~ label > .menuIconContainer > .menuIcon {
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox] ~ label > .menuIcon {
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox] {
    display: none;
}

.dropDown {
    display: none;
    right: 0px;
}

@media screen and (max-width: 700px) {
    .dropDown {
        padding: 0;
        width: 100%;
        height: 290px;
        background: rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: -52px;
        transform: translateY(-240px);
        transition: 0.5s ease-in-out, z-index;
        right: 0px;
        z-index: 1;
    }
}

.dropDown li {
    position: relative;
    top: 95px;
}

label.dropMenu {
    display: none;
}

input[type=checkbox]:checked ~ .dropDown {
    transform: translateY(53px);
    transition: 0.5s ease-in-out, z-index;
    display: flex;
    right: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

label a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.dropMenu:hover{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 0%;
    transition: 0.5s;
}

.highlightedDrop {
    display: none;
}

@media screen and (max-width: 700px) {
    label.dropMenu, .highlightedDrop {
        display: inherit;
        width: 100%;
        margin: 3px 0px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3px;
        color: white;
        text-transform: uppercase;
        border-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
    }
    .highlightedDrop {
        position: relative;
        padding: 5px 5px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        border-radius: 0%;
    }
}

.highlightedDrop:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

.menubar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.sectionheader.experience {
  padding-top: 0;
}
